{% extends 'catalog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">
                    {% if form.instance.slug %}
                    Изменение статьи
                    {% else %}
                    Добавление статьи
                    {% endif %}
                </h4>
            </div>
            <div class="card-body">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                        {% if form.instance.slug %}
                        Изменить
                        {% else %}
                        Добавить
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}