{% extends 'catalog/base.html' %}
{% block content %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Добавление продукта</h4>
            </div>
            <div class="card-body">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 mb-2">
                            <lable for="id_name">Наименование:</lable>
                            <input type="text" name="name" class="form-control" maxlength="100" required
                                   id="id_name" placeholder="Введите наименование продукта">
                        </div>
                        <div class="col-12 mb-2">
                            <lable for="id_description">Описание:</lable>
                            <textarea name="description" class="form-control" style="height: 225px;" id="id_description"
                                      placeholder="Введите описание продукта"></textarea>
                        </div>
                        <div class="col-3 mb-2">
                            <p>Изображение:</p>
                        </div>
                        <div class="col-9 mb-2">
                            <input type="file" name="preview" id="id_preview">
                        </div>
                        <div class="col-3 mb-2">
                            <p>Категория:</p>
                        </div>
                        <div class="col-9 mb-2">
                            <select name="category" id="id_category">
                                <option selected>Выберите категорию</option>
                                {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 mb-2">
                            <lable for="id_price">Цена за покупку:</lable>
                            <input type="number" class="form-control" name="price" step="0.01" required id="id_price">
                        </div>
                        <div class="col-9 mb-2"></div>
                        <div class="col-3 mb-2">
                            <button type="submit" class="btn btn-lg btn-block btn-outline-primary form-control">
                                Отправить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}