{% extends 'catalog/base.html' %}
{% block content %}
{% load custom_filters %}
<div class="row">
    <div class="col-10"></div>
    <div class="col-2">
        <a class="p-2 btn btn-outline-primary form-control mb-2" href="{% url 'catalog:new_product' %}">Добавить
            продукт</a>
    </div>
</div>
<div class="row text-center">
    {% for product in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                {% if product.preview %}
                <img src="{{ product.preview|media_redirection }}" class="img-fluid" alt="{{ product.name }}">
                {% endif %}
                <h1 class="card-title pricing-card-title">{{ product.price }} руб.</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>- {{ product.description|truncatechars:100 }}</li>
                </ul>
                {% url 'catalog:product_detail' product.id as my_url %}
                <a class="p-2 btn btn-outline-primary"
                   href="{{ my_url|remove_trailing_slash }}/">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">Первая</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Первая</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Предыдущая</a>
            </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ num }}</a>
            </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Следующая</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Последняя</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}